<footer class="text-center">
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="footer-col col-md-4">
					<h3>{{'LOCATION' | translate}}</h3>
					<p style="font-size: 20px;"><a href="mailto:mojoshot@bluespike.ca">mojoshot@bluespike.ca</a></p>
				</div>
				<div class="footer-col col-md-4">
					<h3>{{'AROUND_THE_WEB' | translate}}</h3>
					<ul class="list-inline">
						<li>
						<a href="https://www.facebook.com/mojoshot" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
						</li>
						<li>
						<a href="https://twitter.com/mojoshot" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
						</li>
						<li>
						<a href="https://www.youtube.com/channel/UCYtH-FbuswWdrbmKDeS0LWw" class="btn-social btn-outline"><i class="fa fa-fw fa-youtube"></i></a>
						</li>
						<li>
						<a href="https://instagram.com/mojoshot" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
						</li>
					</ul>
				</div>
				<div class="footer-col col-md-4">
					<img style="max-height:200px;" src="../assets/images/SaveursShot.png"></img>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-below">
		<div class="container">
			<div class="row">
				<div class="col-lg-12" style="color:white;">
					&copy; {{'SOME_COMPANY' | translate}}
				</div>
			</div>
		</div>
	</div>
</footer>