<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" id="my_videos">
  <div class="row">
    <h1 class="page-header text-center">{{'MY_VIDEOS' | translate}}</h1>
    <div ng-repeat="video in videos" class="col-lg-6">
      <div class="video">
        <div ng-if="video.url" class="well" style="background-color:transparent;">
          <p>
            <button class="btn btn-primary btn-lg" ui-sref="dare_detail({ key: video.dare})"> {{dares[video.dare]['name_'+language]}} </button>
            <button class="btn btn-default btn-lg" ng-click="delete(video)"> {{'REMOVE' | translate}} </button>
          </p>
          <iframe width="560" height="315" ng-src="{{video.url}}" frameborder="0" allowfullscreen></iframe>
        </div>
        
        <div ng-if="!video.url" class="video-expl">
          <h3>{{dares[video.dare]['name_'+language]}}</h3>
          <p>
            {{'FOLLOW_STEPS_VIDEO' | translate}}
            <ol>
              <li>{{'STEP1_VIDEO' | translate}}</li>
              <li>{{'STEP2_VIDEO' | translate}}</li>
              <li>{{'STEP3_VIDEO' | translate}}</li>
              <li>
                {{'STEP4_VIDEO' | translate}}
                <button class="btn btn-primary" ng-click="fromFb(video)">Facebook</button>
                <br>
                <br>
                <form class="form-inline">
                  <input type="text" class="form-control" placeholder="{{'YOUTUBE_URL' | translate}}" ng-model="video.unvalidated_url" />
                  <button class="btn btn-primary" ng-click="save_url(video)">{{'ADD_VIDEO' | translate}}</button>
                </form>
              </li>
            </ol>
          </p>
          <br>
          <button class="btn btn-danger" ng-click="delete(video)">{{'REMOVE' | translate}}</button>
        </div> 
      </div>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
