<div ng-include="'components/navbar/navbar.html'"></div>

<pre>{{user}}</pre>
<pre>{{user.facebook.id}}</pre>
<pre>{{fbVideos}}</pre>
<pre>{{authResponse}}</pre>

<div ng-if="new_video" class="container">
  <h1>{{ new_dare.name }}</h1>
  <p>{{'NEW_DARE_EXPLANATION' | translate}}</p>
  <input type="text" placeholder="{{'YOUTUBE_URL' | translate}}" />
  <br />
  <button class="btn btn-primary" ng-click="save_url(new_video)">{{'SAVE' | translate}}</button>
</div>

<div class="container">
  <div class="row">
    <h1 class="page-header text-center">{{'YOUR_DARES' | translate}}</h1>
    <div ng-repeat="video in videos" class="col-lg-6">
      <div class="video">
        <iframe ng-if="video.url" width="560" height="315" ng-src="{{video.url}}" frameborder="0" allowfullscreen></iframe>
        <div ng-if="!video.url">
          <input type="text" placeholder="{{'YOUTUBE_URL' | translate}}" ng-model="video.unvalidated_url" />
          <button class="btn btn-primary" ng-click="save_url(video)">{{'ADD_VIDEO' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
