<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <h1 class="page-header text-center">{{'YOUR_DARES' | translate}}</h1>
    <div ng-repeat="video in videos" class="col-lg-6">
      <div class="video">
        <iframe ng-if="video.url" width="560" height="315" ng-src="{{video.url}}" frameborder="0" allowfullscreen></iframe>
        <div ng-if="!video.url" class="video-expl">
          <h3>{{dares[video.dare].name}}</h3>
          <p>
            {{'This dare is not completed! Follow the steps below:' | translate}}
            <ol>
              <li>{{'Film yourself doing this dare' | translate}}</li>
              <li>{{'Share the video on your favorite platform (Youtube, Vimeo or Facebook)' | translate}}</li>
              <li>{{'On Facebook, make sure you\'re tagged in the video' | translate}}</li>
              <li>
                {{'Paste the video address (URL) below or choose from' | translate}}
                <button class="btn btn-primary" ng-click="fromFb(video)">Facebook</button>
                <form class="form-inline">
                  <input type="text" class="form-control" placeholder="{{'YOUTUBE_URL' | translate}}" ng-model="video.unvalidated_url" />
                  <button class="btn btn-primary btn-sm" ng-click="save_url(video)">{{'ADD_VIDEO' | translate}}</button>
                </form>
              </li>
            </ol>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
