#dares-banner {
  margin-top: 60px;
  text-shadow: 1px 1px 9px rgba(1,1,1,0.7);
  height: 500px;
  ul {
    text-shadow: none;
  }
}

.center {
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-70%);
}
