<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="dare-detail-banner">
  <div class="container">
    <h1>{{ dare['name_'+language] }}</h1>
    <p class="lead">{{ dare['info_'+language] }}</p>
    <a ng-click="send_dare(dare)" class="btn btn-success btn-lg">{{'CHALLENGE_FRIENDS' | translate}}</a>
    <a ng-click="do_dare(dare)" class="btn btn-success btn-lg">{{'DO_IT' | translate}}</a>
  </div>
</header>

<div class="container">
  <div class="row">
    <h1 class="page-header text-center">{{'THEY_DID_IT' | translate}}</h1>
    <div ng-repeat="video in videos" class="col-lg-6">
      <div class="video">
        <iframe height="315" ng-src="{{video.url}}" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
